
#cookies1:target {
    display: none;
}

.cookies{
	color: #FFF;
	background: #000;

	z-index:10;
	text-align:center;
	
}


#contenedor {
  width: 400px;
  margin: 0 auto;
}


.buttoncookie {
  background: #e6951c;
  background-image: -webkit-linear-gradient(top, #e6951c, #825009);
  background-image: -moz-linear-gradient(top, #e6951c, #825009);
  background-image: -ms-linear-gradient(top, #e6951c, #825009);
  background-image: -o-linear-gradient(top, #e6951c, #825009);
  background-image: linear-gradient(to bottom, #e6951c, #825009);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 3px 10px 2px 10px;
  text-decoration: none;
}

.footer-summermate{
  background-image: linear-gradient(to bottom,rgba(0,150,0,0.3) 0,rgba(20,140,10,0.8) 30%);
  min-height: 33px;
}

#terms{
	display:none;
	font-size: 12px;
}

